<ng-container *ngIf="customer">
    <div class="card col-md-6 offset-3 mt-3">
        <div class="card-header">
            Modifier le client {{customer.name}}
        </div>
        <div class="card-body">
            <!-- <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
            </div> -->
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="email" formControlName="name" class="form-control" id="name"
                        placeholder="Firstname Lastname">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" formControlName="email" class="form-control" id="email"
                        placeholder="name@example.com">
                </div>
                <button type="submit" [disabled]="formGroup.invalid || loading" class="btn btn-primary mb-3 d-flex align-items-center">
                    Edit
                    <div class="ms-2 spinner-border text-light spinner" *ngIf="loading" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </form>
        </div>
    </div>
</ng-container>
